.v-track {
  border: black 1px solid;
  height: 110px;
  overflow-x: scroll;
}

.v-track > div{
	float: left;
}

.v-takt {
  border: red 1px solid;
  background: gray;
  height: 100px;
  display: inline;
}

.v-note {
  background: green;
}

.v-note input {
	width: 50px; height:50px;
	margin: 1px;
}

