<html>
    <head> 
        <link rel="stylesheet" href="./sort.css">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="app">
            <select id="func_sel"> 
                <option v-for="f in func_arr" :value="f">{{f}}</option>
            </select>   
            <input @click="executeSort()" type="button" value="executeSort">
            
            <div class="array">
                <div class="block" v-for="i in arr" :style="{height : i*10+'px'}">{{ i }}</div>    
            </div>
        </div>
        
    </body>
</html>
<script src="./sort.js"></script>